.container {
    padding: 15px;

    .heading {
        font-size: 20px;
    }

    .info {
        margin-top: 30px;
        font-size: 20px;
        color: orangered;
    }

    .ps {
        margin-top: 30px;
    }
}
